
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
  background-color: #FFFCF7;
  font-family: "Montserrat";
}

footer {
	position: relative;
	height: auto;
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}


header img{
  height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header h1{
  text-align: center;
  letter-spacing: 3px;
  font-family: "Montserrat";
  margin-top: 0px;
}

nav {
	text-align: center;
	grid-column: 1/4;
	grid-row: 1/2;
	font-family: "Montserrat";
	font-size: 10px;
}

nav ul {
	padding: 0;
}

nav li {
	display: inline-block;
	font-size: 12px;
	padding: .25em 1em;
	text-transform: uppercase;
}

nav li:not(:last-child) {
	border-right: 1px solid #666;
}

nav a {
	border-bottom: 3px solid #666;
	color: black;
	text-decoration: none;
}

nav a:hover {
	border-bottom: 3px solid #598392;
}

.grid{
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-row: auto;
  justify-content: center;
  margin-top: 50px;
}

.intro{
  grid-column: 1/2;
  grid-row: 1/2;
  width: 70%;
  margin: auto;
  font-size: 20px;
  font-family: "Montserrat";
}


.social-icons {
  text-align: center;
  }
.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  }
.social-icons li a {
  border-bottom: none;
  }
.social-icons li img {
  width:50px;
  height:50px;
  margin-right: 20px;
}
