@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
  background-color: #FFFCF7;
  font-family: "Montserrat";
}

footer {
	position: relative;
	height: auto;
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

header img{
  height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header h1{
  text-align: center;
  letter-spacing: 3px;
  font-family: "Montserrat";
  margin-top: 0px;
}

#title{
  display: inline-block;
  font-family: "Montserrat";
  font-weight: bold;
  letter-spacing: 1px;
  margin-left: 50px;
}

h2{
  font-family: "Montserrat";
  letter-spacing: 1px;
}


p, ul, li{
  font-family: "Montserrat";
  font-size: 16px;
}

nav {
	text-align: center;
	grid-column: 1/4;
	grid-row: 1/2;
	font-family: "Montserrat";
	font-size: 10px;
}

nav ul {
	padding: 0;
}

nav li {
	display: inline-block;
	font-size: 12px;
	padding: .25em 1em;
	text-transform: uppercase;
}

nav li:not(:last-child) {
	border-right: 1px solid #666;
}

nav a {
	border-bottom: 3px solid #666;
	color: black;
	text-decoration: none;
}

nav a:hover {
	border-bottom: 3px solid #598392;
}

.container{
    text-align:center;
    display:inline-block;
    width: 100%;
    padding: 10px;
}

.overview{
  margin: 50px;
}

.twotoone{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  grid-template-areas:
  ".textpart .imgpart";
  text-align: left;
  margin: 50px;
}
