@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
  background-color: #FFFCF7;
  font-family: "Montserrat";
}

footer {
	position: relative;
	height: auto;
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

header img{
  height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header h1{
  text-align: center;
  letter-spacing: 3px;
  font-family: "Montserrat";
  margin-top: 0px;
}

nav {
	text-align: center;
	grid-column: 1/4;
	grid-row: 1/2;
	font-family: "Montserrat";
	font-size: 10px;
}

nav ul {
	padding: 0;
}

nav li {
	display: inline-block;
	font-size: 12px;
	padding: .25em 1em;
	text-transform: uppercase;
}

nav li:not(:last-child) {
	border-right: 1px solid #666;
}

nav a {
	border-bottom: 3px solid #666;
	color: black;
	text-decoration: none;
}

nav a:hover {
	border-bottom: 3px solid #598392;
}

.intro{
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.messages {
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.mine {
  align-items: flex-end;
}

.mine .message {
  color: black;
  margin-left: 25%;
  background: #D4DDED;
  position: relative;
}

.mine .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: #D4DDED;
  border-bottom-left-radius: 15px;
}

.mine .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
  ". project1 project2 ."
  ". project3 project4 .";
}
/* .wrapper img{
  width: 100%;
  display: inline-block;
} */

.project1 {
  padding: 20px;
  grid-area: project1;
}

.project2 {
  padding: 20px;
  grid-area: project2;
}

.project3 {
  padding: 20px;
  grid-area: project3;
}

.project4 {
  padding: 20px;
  grid-area: project4;
}

.project1:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.project2:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.project3:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
/* .project4:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
} */
/* @media (max-width: 1200px) {
  .project1 {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  .project1 {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .project1 {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .project1 {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

@media (max-width: 1200px) {
  .project2 {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  .project2 {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .project2 {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .project2 {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

@media (max-width: 1200px) {
  .project3 {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  .project3 {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .project3 {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .project3 {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
@media (max-width: 1200px) {
  .project1 {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  .project4 {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .project4 {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .project4 {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
} */
/*
@media screen and (max-width: 800px) {
  .project1 {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .project1 {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .project2 {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .project2 {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .project3 {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .project3 {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .project4 {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .project4 {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
} */
